:root {
  font-size: 16px;
}

.icon-container {
  background-color: #C4E7EE;
  color: #3a3737;
  margin-bottom: 15px;
  padding: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  background-color: #1D385F;
  font-size: 0.8rem;
  color: #ffffff;
  border-radius: 3px;
}

.btn-outline {
  background-color: #ffffff;
  color: #1D385F;
  border: 1px solid #1D385F;
}

.nav-btn {
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #C4E7EE;
  color: #C4E7EE;
}

.color-pry {
  color: #1D385F;
}

.color-sec {
  color: #B4BAC0;
}

.color-green {
  color: #C4E7EE;
}

.text-sm {
  font-size: 0.9rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.h3 {
  font-size: medium;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

header {
  height: 580px;
  padding-inline: 60px;
}

header nav {
  height: 5%;
  padding: 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navbrand {
  font-weight: bold;
  font-size: 1.1rem;
}

header nav .nav-menu-wrapper {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-menu-wrapper .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-right: 20px;
}

header nav .nav-menu-wrapper .nav-menu li {
  font-size: 0.8rem;
  font-weight: bold;
  color: #1D385F;
  font-weight: bold;
}

header nav .nav-menu-wrapper .nav-menu li a {
  cursor: pointer;
}

header .hero-section {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  height: 80%;
}

header .hero-section .left-hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}

header .hero-section .left-hero-container .hero-title {
  line-height: 1.2;
  font-size: 3rem;
}

header .hero-section .left-hero-container .hero-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .hero-section .left-hero-container .hero-btn-container > * {
  padding-inline: 40px;
}

header .hero-section .right-hero-container {
  background: url("../images/pexels-kampus-production-8439679-min.jpg") no-repeat center center/cover;
}

main {
  padding-top: 100px;
}

main section.more-info {
  padding: 60px;
}

main section.more-info .more-info_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  text-align: center;
  margin-bottom: 50px;
}

main section.more-info .more-info_body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

main section.more-info .more-info_body > div {
  text-align: center;
  color: #231f1f;
}

main section.more-info .more-info_body .icon-container {
  background-color: #C4E7EE;
  color: #3a3737;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.more-info .more-info_body .h3 {
  margin-bottom: 10px;
}

main section.services-cta {
  padding: 60px;
  background-color: #F8FCFF;
  padding-block: 30px;
}

main section.services-cta .services-cta_header h2 {
  margin-top: 3px;
}

main section.services-cta .services-cta_body {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

main section.services-cta .services-cta_body .services-card {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  max-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main section.services-cta .services-cta_body .services-card .icon-container {
  background-color: #ffffff;
  -webkit-box-shadow: rgba(126, 124, 124, 0.07) 0px 1px 1px, rgba(198, 196, 196, 0.07) 0px 2px 2px, rgba(198, 193, 193, 0.07) 0px 4px 4px, rgba(194, 188, 188, 0.07) 0px 8px 8px, rgba(47, 46, 46, 0.077) 0px 16px 16px;
          box-shadow: rgba(126, 124, 124, 0.07) 0px 1px 1px, rgba(198, 196, 196, 0.07) 0px 2px 2px, rgba(198, 193, 193, 0.07) 0px 4px 4px, rgba(194, 188, 188, 0.07) 0px 8px 8px, rgba(47, 46, 46, 0.077) 0px 16px 16px;
  color: #29A9C1;
}

main section.services-cta .services-cta_footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

main section.services-cta .services-cta_footer .slider-info {
  width: 35px;
  height: 5px;
  background-color: #b5e3eb;
  border-radius: 50px;
}

main section.services-cta .services-cta_footer .slider-info:nth-child(3) {
  background-color: #1D385F;
}
/*# sourceMappingURL=main.css.map */