.mb1 {
  margin-bottom: 10px !important;
}

.mb {
  margin-bottom: 5px !important;
}

.mb2 {
  margin-bottom: 20px !important;
}

.mt4 {
  margin-top: 40px !important;
}

.mt2 {
  margin-top: 20px !important;
}

.p1 {
  padding: 10px !important;
}

.px3 {
  padding-inline: 30px !important;
}

.px4 {
  padding-inline: 40px !important;
}

.py7 {
  padding-block: 70px !important;
}

.icon-container {
  margin-bottom: 15px;
  padding: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  background-color: #1D385F;
  font-size: 0.8rem;
  color: #ffffff;
  border-radius: 3px;
}

.btn-outline {
  background-color: #ffffff;
  color: #1D385F;
  border: 1px solid #1D385F;
}

.nav-btn {
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #C4E7EE;
  color: #C4E7EE;
}

.color-pry {
  color: #1D385F;
}

.color-sec {
  color: #B4BAC0;
}

.color-green {
  color: #C4E7EE;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.text-sm {
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.h3 {
  font-size: medium;
  line-height: 1.2;
}

.none {
  display: none !important;
}

.icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-item .icon-container {
  margin: 0;
  padding: 0;
}

.icon-lg-color {
  background-color: #29A9C1;
  color: #ffffff;
}

.align-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

header {
  height: 580px;
  padding-inline: 80px;
}

header nav {
  height: 5%;
  padding: 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navbrand {
  font-weight: bold;
  font-size: 1.1rem;
}

header nav .nav-menu-wrapper {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-menu-wrapper .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-right: 20px;
}

header nav .nav-menu-wrapper .nav-menu li {
  font-size: 0.8rem;
  font-weight: bold;
  color: #1D385F;
  font-weight: bold;
}

header nav .nav-menu-wrapper .nav-menu li a {
  cursor: pointer;
}

header .hero-section {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  height: 80%;
}

header .hero-section .left-hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}

header .hero-section .left-hero-container .hero-title {
  line-height: 1.2;
  font-size: 3rem;
}

header .hero-section .left-hero-container .hero-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .hero-section .right-hero-container {
  background: url("../images/pexels-kampus-production-8439679-min.jpg") no-repeat center center/cover;
}

main {
  padding-top: 100px;
}

main section.more-info {
  padding: 80px;
}

main section.more-info .more-info_header {
  text-align: center;
  margin-bottom: 50px;
}

main section.more-info .more-info_body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

main section.more-info .more-info_body > div {
  text-align: center;
  color: #231f1f;
}

main section.more-info .more-info_body .icon-container {
  background-color: #C4E7EE;
  color: #3a3737;
  margin: 0 auto;
  margin-bottom: 15px;
}

main section.more-info .more-info_body .h3 {
  margin-bottom: 10px;
}

main section.services-cta {
  padding: 80px;
  background-color: #F8FCFF;
}

main section.services-cta .services-cta_header h2 {
  margin-top: 3px;
}

main section.services-cta .services-cta_body {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

main section.services-cta .services-cta_body .services-card {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  max-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main section.services-cta .services-cta_body .services-card .icon-container {
  background-color: #ffffff;
  -webkit-box-shadow: rgba(126, 124, 124, 0.07) 0px 1px 1px, rgba(198, 196, 196, 0.07) 0px 2px 2px, rgba(198, 193, 193, 0.07) 0px 4px 4px, rgba(194, 188, 188, 0.07) 0px 8px 8px, rgba(47, 46, 46, 0.077) 0px 16px 16px;
          box-shadow: rgba(126, 124, 124, 0.07) 0px 1px 1px, rgba(198, 196, 196, 0.07) 0px 2px 2px, rgba(198, 193, 193, 0.07) 0px 4px 4px, rgba(194, 188, 188, 0.07) 0px 8px 8px, rgba(47, 46, 46, 0.077) 0px 16px 16px;
  color: #29A9C1;
}

main section.services-cta .services-cta_footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

main section.services-cta .services-cta_footer .slider-info {
  width: 35px;
  height: 5px;
  background-color: #b5e3eb;
  border-radius: 50px;
}

main section.services-cta .services-cta_footer .slider-info:nth-child(3) {
  background-color: #1D385F;
}

main section.insurance-services {
  padding-inline: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

main section.insurance-services .left-container .insurance-services_body {
  margin-block: 25px;
}

main section.insurance-services .left-container .insurance-services_btn {
  background-color: #29A9C1;
}

main section.insurance-services .right-container {
  background: url("../images/pexels-kindel-media-7688374-min.jpg") no-repeat center center/cover;
}

main section.insurance-claims {
  padding-inline: 80px;
}

main section.insurance-claims .insurance-claims_body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -webkit-column-gap: 80px;
          column-gap: 80px;
  width: 80%;
  min-width: 600px;
  max-width: 700px;
  margin: 0 auto;
}

main section.insurance-claims .left-container {
  background: url("../images/pexels-kindel-media-7688374-min.jpg") no-repeat center center/cover;
  border-radius: 20px;
}

main section.hosting {
  padding-inline: 80px;
  background-color: #F8FCFF;
}

main section.hosting .section_body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 320px))[3];
      grid-template-columns: repeat(3, minmax(0, 320px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

main section.hosting .section_body .hosting_card {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 20px;
}

main section.hosting .section_body .hosting_card .hosting_card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(222, 220, 220, 0.524);
}

main section.hosting .section_body .hosting_card .hosting_card-header .h3 {
  line-height: 1;
  margin-bottom: 5px;
}

main section.hosting .section_body .hosting_card .hosting_card-header > .icon-container {
  background-color: #F8FCFF;
  color: #29A9C1;
  margin: 0;
}

main section.hosting .section_body .hosting_card .hosting_card-body {
  margin-block: 10px;
}

main section.hosting .section_body .hosting_card .hosting_card-body .hosting_card-body_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-block: 10px;
}

main section.hosting .section_body .hosting_card .hosting_card-body .hosting_card-body_wrapper .icon-container {
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0px;
  color: #29A9C1;
}

main section.hosting .section_body .hosting_card .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: auto;
  background-color: #29A9C1;
  border-radius: 10px;
}

main section.contact-help {
  padding-inline: 80px;
  background-color: #E1F2FA;
}

main section.contact-help .contact-help_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 10%;
}

main section.contact-help .contact-help_header .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

main section.contact-help .contact-help_header .icon-wrapper .icon-container {
  color: #29A9C1;
  margin: 0;
  padding: 0;
}

main section.contact-help .contact-help_body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (320px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 320px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

main section.contact-help .contact-help_body .contact-help_card {
  background-color: #ffffff;
  padding: 30px;
  height: 340px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.contact-help .contact-help_body .contact-help_card .img-container {
  height: 50%;
  width: 100%;
}

main section.contact-help .contact-help_body .contact-help_card .img-container img {
  border-radius: 8px;
}

main section.testimonials {
  padding-inline: 80px;
}

main section.testimonials .testimonials_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

main section.testimonials .testimonials_body .testimonial-grp {
  text-align: center;
}

main section.testimonials .testimonials_body .testimonial-grp .img-wrapper {
  margin: 0 auto 10px;
  width: 70px;
  height: 60px;
}

main section.testimonials .testimonials_body .testimonial-grp .img-wrapper img {
  border-radius: 50%;
}

main section.testimonials .testimonials_body .testimonial-grp .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

footer {
  padding-inline: 80px;
  padding-block: 70px;
}

footer .footer-container {
  padding-inline: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

footer .footer-container h3 {
  margin-bottom: 20px;
}

footer .footer-container ul.footer-menu li {
  margin-bottom: 5px;
}

footer .footer-container ul.footer-menu li .icon-container {
  color: #29A9C1;
}

footer .footer-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=main.css.map */