$color-pry: #1D385F;
$icon-color: #29A9C1;
$color-sec: #B4BAC0;
$color-green: #C4E7EE;
$page-inline-padding: 80px;
$bg-pry: #F8FCFF;

:root {
    font-size: 16px;
}

.mb1 {
    margin-bottom: 10px !important;
}
.mb {
    margin-bottom: 5px !important;
}
.mt {
    margin-top: 40px !important;
}
.py3 {
    padding-inline: 30px !important;
}
.py4 {
    padding-inline: 40px !important;
}
.icon-container {
    margin-bottom: 15px;
    padding: 10px;
    width: max-content;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: $color-pry;
    font-size: 0.8rem;
    color: #ffffff;
    border-radius: 3px;
}
.btn-outline {
    background-color: #ffffff;
    color: $color-pry;
    border: 1px solid $color-pry;
}
.nav-btn {
    height: 35px;
    background-color: #ffffff;
    border: 1px solid $color-green;
    color: $color-green;
}
.color-pry {
    color: $color-pry;
}
.color-sec {
    color: $color-sec
}
.color-green {
    color: $color-green
}
.section-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.text-sm {
    font-size: 0.9rem;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}

.h3 {
    font-size: medium;
    line-height: 1.2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

header {
    height: 580px;
    // outline: 1px solid red;
    padding-inline: $page-inline-padding;

    nav {
        height: 5%;
        padding: 30px 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .navbrand {
            font-weight: bold;
            font-size: 1.1rem;
        }

        .nav-menu-wrapper {
            margin-left: auto;
            display: flex;
            
            .nav-menu {
                display: flex;
                align-items: center;
                gap: 40px;
                margin-right: 20px;
    
                li {
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: $color-pry;
                    font-weight: bold;
    
                    a {
                        cursor: pointer;
                    }
                }
            }
        }

    }

    .hero-section {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 20px;
        height: 80%;
        
        .left-hero-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 30px;

            .hero-title {
                line-height: 1.2;
                font-size: 3rem;
            }

            .hero-btn-container {
                display: flex;
                gap: 20px;
            }
        }

        .right-hero-container {
            background: url("../images/pexels-kampus-production-8439679-min.jpg") no-repeat center center/cover;
        }
    }
}

main {
    padding-top: 100px;
    
    section.more-info {
        padding:$page-inline-padding;
        .more-info_header {
            text-align: center;
            margin-bottom: 50px;
        }
        
        .more-info_body {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            column-gap: 30px;
            
            & > div {
                text-align: center;
                color: #231f1f;
            }

            .icon-container {
                background-color: $color-green;
                color: #3a3737;
                margin: 0 auto;
                margin-bottom: 15px;
            }
            .h3 {
                margin-bottom: 10px;
            }
        }
    }

    section.services-cta {
        padding:$page-inline-padding;
        background-color: $bg-pry;
        padding-block: 30px;

        .services-cta_header {
            h2 {
                margin-top: 3px;
            }
        }

        .services-cta_body {
            margin-top: 45px;
            display: flex;
            justify-content: center;
            gap: 20px;

            .services-card {
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 20px;
                border-radius: 10px;
                max-width: 250px;
                flex: 1;

                .icon-container {
                    background-color: #ffffff;
                    box-shadow: rgba(126, 124, 124, 0.07) 0px 1px 1px, rgba(198, 196, 196, 0.07) 0px 2px 2px, rgba(198, 193, 193, 0.07) 0px 4px 4px, rgba(194, 188, 188, 0.07) 0px 8px 8px, rgba(47, 46, 46, 0.077) 0px 16px 16px;
                    color: $icon-color;
                }
            }
        }

        .services-cta_footer {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            gap: 10px;

            .slider-info {
                width: 35px;
                height: 5px;
                background-color: #b5e3eb;
                border-radius: 50px;

                &:nth-child(3) {
                    background-color: $color-pry;
                }
            }
        }
    }

    section.insurance-services {
        padding-block: 70px;
        padding-inline: $page-inline-padding;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .left-container {
            .insurance-services_body {
                margin-block: 25px;

                .insurance-services_grp {
                    display: flex;
                    gap: 15px;
                    align-items: flex-start;
                    margin-bottom: 20px;

                    .icon-container {
                        background-color: $icon-color;
                        color: #ffffff;
                    }
                }
            }

            .insurance-services_btn {
                background-color: $icon-color;
            }
        }

        .right-container {
            background: url("../images/pexels-kindel-media-7688374-min.jpg") no-repeat center center/cover;
        }
    }

    section.insurance-claims {
        padding-inline: $page-inline-padding;
        .insurance-claims_body {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .left-container {
            outline: 1px solid blue;
            background: url("../images/pexels-kindel-media-7688374-min.jpg") no-repeat center center/cover;
        }
    }
}